venv
.env
app/components/__pycache__
solicitacoes.json
insSolic.py
insEpi.py
insColab.py
epis.json
dados.json
colaboradores.json
cc.py
carregamento.json
venv
# Ambientes virtuais e compilações
venv/
__pycache__/
*.pyc

# Variáveis de ambiente
.env

# Dados locais e sensíveis
*.json
*.xlsx
*.db


venv/
.env
*.json
*.pyc
__pycache__/

.env
bdvenv/

